<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Descripcion de portada -->
    <meta name="keywords" content="#Node.js & #Ejs">
    <meta name="description" content="Primer trabajo para curso de React. F-DoriAss">
    <!-- Estilos de pagina Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Fuentes -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <!-- Favicon -->
    <!-- El estilo de pestaña puede variar dependiendo el foco -->
    <link id="favicon" rel="shortcut icon" href="/images/favicon.ico" type="image/x-png">
    <title>React | DoriAss.F</title>
</head>

<body>
    <!-- Incluciones -->
    <%- include('../partials/header.ejs') %>
    <%- body %>
    <%- include('../partials/footer.ejs') %>

    <!-- Scrip de JAVASCRIPT -->
    <!-- app.js link -->
    <script src="/js/app.js"></script>

    <!-- script.js link -->
    <script src="/js/script.js"></script>
</body>
</html>