<%- layout('layouts/boilerplate') %>
    <!-- loader -->
    <div class="loader-container">
        <img draggable="false" src="/images/preloader.gif" alt="preloader">
    </div>

     <!-- Inicio de seccion PERFIL -->
     <section class="about" id="about">
        <h2 class="heading"><i class="fas fa-user-alt"></i> Perfil <span>DoriAss</span></h2>

        <div class="row">

            <div class="image">
                <img draggable="false" class="tilt" src="images/perfile/About.png" alt="">
            </div>
            <div class="content">
                <h3>Yo soy Federico</h3>
                <span class="tag">Desarrollador FullStack apasionado</span>
                <p>Realizo programacion en
                    Informática. Un trabajador del sector IT. Soy una persona curiosa y
                    aprender nuevas tecnologías me resulta muy tentador. Un desarrollador con muchas capacidades y ganas
                    de seguir aprendiendo, marcando la diferencia! Solo es dedicacion y confianza, paginas totalmente didacticas.</p>

                <div class="box-container">
                    <div class="box">
                        <p><span> Años: </span> 24</p>
                        <p><span> Celular : </span> <a href="tel:+541141761096">
                                +54 (11) 4176-1096
                            </a></p>
                    </div>
                    <div class="box">
                        <p><span> Email : </span><a href="mailto:doriass.f@gmail.com">
                                doriass.f@gmail.com
                            </a></p>
                        <p><span> Lugar : </span> Mar del Plata, Provincia de Buenos Aires - B7600FYA</p>
                    </div>
                </div>
                <!-- BTN descarga de CV -->
                <div class="resumebtn">
                    <a href="/download/Curriculum-Federico-Dorigatti.pdf" class="btn"
                        download="/cv/Curriculum-Federico-Dorigatti.pdf"><span>Descargar CV</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>

            </div>
        </div>

    </section>
  <!-- Fin de seccion PERFIL -->

  <section class="bg-black">
    <div class="flex flex-col items-center px-6 py-8 mx-auto">
        <div class="w-full bg-white rounded-lg">
            <div class="p6 space-y-4">
                <h1>Crear cuentas</h1>
            </div>
        </div>
    </div>
  </section>